{% extends "layout.html" %}

{% block content %}

<h2>Admin Dashboard</h2>

<p>
<a href="/export-csv"><button type="button">Download CSV</button></a>
<a href="/logout"><button type="button">Logout</button></a>
</p>

<div class="stats">

<div class="card">
<h3>Total Feedback</h3>
<p>{{total}}</p>
</div>

<div class="card">
<h3>Average Rating</h3>
<p>{{ "%.2f"|format(avg) if avg is not none else "N/A" }} </p>
</div>

</div>

<table>

<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Rating</th>
<th>Comments</th>
<th>Date</th>
<th>Delete</th>
</tr>

{% for row in data %}

<tr>
<td>{{ row["id"] }}</td>
<td>{{ row["name"] }}</td>
<td>{{ row["email"] }}</td>
<td>{{ row["rating"] }}</td>
<td>{{ row["comments"] }}</td>
<td>{{ row["date_submitted"].replace("T"," ")[:16] }}</td>

<td>
<a href="/delete/{{row['id']}}" onclick="return confirm('Delete this feedback?')">
<button class="delete-btn">Delete</button>
</a>
</td>

</tr>

{% endfor %}

</table>

<label>Select Chart Type:</label>
<select id="chartType" onchange="changeChart()">
<option value="bar">Bar Chart</option>
<option value="pie">Pie Chart</option>
</select>

<canvas id="ratingChart" width="300" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

// collect ratings
var ratings = [];

{% for row in data %}
ratings.push({{ row["rating"] }});
{% endfor %}

// count ratings
var count = [0,0,0,0,0];

ratings.forEach(function(r){
count[r-1]++;
});

// chart context
var ctx = document.getElementById("ratingChart");

// create default chart
var chart = new Chart(ctx, {
type: "bar",
data: {
labels: ["1 Star","2 Star","3 Star","4 Star","5 Star"],
datasets: [{
label: "Feedback Ratings",
data: count,
backgroundColor: [
"#ff4d4d",
"#ff944d",
"#ffd11a",
"#4dff88",
"#3399ff"
]
}]
}
});

// change chart type
function changeChart(){

var type = document.getElementById("chartType").value;

chart.destroy();

chart = new Chart(ctx,{
type:type,
data:{
labels:["1 Star","2 Star","3 Star","4 Star","5 Star"],
datasets:[{
label:"Feedback Ratings",
data:count,
backgroundColor:[
"#ff4d4d",
"#ff944d",
"#ffd11a",
"#4dff88",
"#3399ff"
]
}]
}
});

}

</script>

{% endblock %}
