{% extends "layout.html" %}

{% block content %}
<h2>Admin Login</h2>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST" action="/login">
<label>Username</label>
<input name="username" placeholder="Username" required maxlength="50">

<label>Password</label>
<div class="password-box">
<input type="password" id="password" name="password" placeholder="Password">
<i class="fa-solid fa-eye toggle-password" onclick="togglePassword()"></i>
</div>

<button type="submit">Login</button>
</form>
{% endblock %}
